.card--post {
	display: flex;
	.p-card-title {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		white-space: normal;
		height: auto;
		overflow: hidden;
		margin: 0;
		min-height: 2.75rem;
	}
	.p-card-body {
		position: relative;
		.p-card-content {
			height: 11rem;
			p {
				-webkit-line-clamp: 5;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				white-space: normal;
				height: auto;
				overflow: hidden;
			}
		}
		.p-card-footer {
			padding: 0;
		}
	}
	.p-card-footer {
		.p-button {
			text-align: center;
			text-decoration: blink;
			display: table;
			width: 100%;
		}
	}
	&__list {
		.p-card-header {
			width: 320px;
			min-width: 320px;
			img {
				height: 100%;
			}
		}
		flex-direction: column;
	}
}
